@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
    .bar{
        display: block;
        width: 20px;
        height: 3px;
        border-radius: 3px;
        background-color: #fff;
        margin: 5px auto;
        transition: all .3s;
    }
}
